---
const pageTitle = "Acerca de mí"

const identity = {
  firstName: "Carlos",
  country: "México",
  occupation: "Dev",
  hobbies: ["photography", "birdwatching", "capoeira"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Inicio</a>
		<a href="/about/">Acerca de</a>
        <a href="/blog/">Blog</a>

        <h1>{pageTitle}</h1>
		<p>Estoy siguiendo el tutorial introductorio del framework Astro. Esta es la segunda página</p>
		<p>Este sitio se actualizará según vaya completando más etapas del tutorial.</p>
        <br />
        <p>Algunos datos acerca de mí:</p>
        <ul>
            <li>Me llamo {identity.firstName}</li>
            <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
            {identity.hobbies.length >= 3 &&
                <li>Dos de mis hobbies son: {identity.hobbies[0]} y {identity.hobbies[2]}</li>
            }
        </ul>
        <p>Mis conocimientos son:</p>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>
        {happy && <p>Estoy feliz de aprender Astro :)</p>}

        {finished && <p>Ya terminé el tutorial</p>}

        {goal === 3 ? <p>Mi meta es terminar en 3 días</p> : <p>Mi meta no son 3 días</p>}
	</body>
</html>

